* {
  font-family: sans-serif;
}

.wrapper {
  padding: 0 220px;
  // width: 1920px;
  box-sizing: border-box;
}
.header {
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 90px;
  &__button {
    display: flex;
    gap: 10px;
    padding: 8px 21px 8px 20px;
    color: #e4b564;
    border: 1px solid #e4b564;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    align-self: center;
  }
}
.title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  //   line-height: 28px;
}
.text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.networks {
  background: #171717;
  color: #fff;
  font-family: sans-serif;

  &__title {
    padding-bottom: 49px;
  }
  &__description {
    padding-bottom: 43px;
  }
  &__list {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
  }
  &__item {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    min-width: 170px;
    
    &:nth-child(1) {
      background: #634f2c;
      grid-column: 1/3;
    }
    &:nth-child(2) {
      background: #b4a385;
      grid-column: 3/5;
    }

    &:nth-child(3) {
      background: #e4b564;
      grid-column: 5/7;
    }

    &:nth-child(4) {
      background: #635a4a;
      grid-column: 1/4;
    }

    &:nth-child(5) {
      background: #b08c4d;
      grid-column: 4/7;
    }
  }
}

.equipment {
  background-color: #171717;
  font-family: sans-serif;

  &__title {
    padding-top: 160px;
    padding-bottom: 95px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 169px);
    gap: 20px;
    padding-bottom: 192px;
    color: #fff;
    font-size: 20px;
  }
  &__item {
    padding-top: 45px;
    padding-left: 50px;

    &:nth-child(1) {
      background: #0e0e0e;
      grid-row: 1/3;
    }

    &:nth-child(2) {
      background: #242424;
      grid-row: 1/4;
    }

    &:nth-child(3) {
      background: #1f1f1f;
      grid-row: 1/2;
    }

    &:nth-child(4) {
      background: #1f1f1f;
      grid-row: 3/6;
    }

    &:nth-child(5) {
      background: #0e0e0e;
      grid-row: 2/5;
    }

    &:nth-child(6) {
      background: #e4b564;
      grid-row: 4/6;
      color: #000000;
    }

    &:nth-child(7) {
      background: #0a0909;
      grid-row: 5/6;
    }
  }
}
.client {
  background: #0e0e0e;
  padding-top: 170px;
  padding-bottom: 230px;
  font-family: sans-serif;
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    flex-wrap: wrap;
  }
  &__button {
    color: #e4b564;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #e4b644;
    padding: 10px 40px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    margin: 0;
    padding: 0;
  }
  &__item {
    display: grid;
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    align-items: start;
    justify-items: center;
    align-content: center;
    color: #fff;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    gap: 10px;
    cursor: pointer;
    &:nth-child(1) {
      background: #634f2c;
    }

    &:nth-child(2) {
      background: rgba(232, 210, 171, 0.76);
    }

    &:nth-child(3) {
      background: #e4b564;
    }

    &:nth-child(4) {
      background: #635a4a;
    }

    &:nth-child(5) {
      background: #b08c4d;
    }

    &:nth-child(6) {
      background: #634f2c;
    }
    img {
      height: 53px;
    }
  }
}
